---
import { getPokemons } from "../../services/PokemonSerice";
import CardPokemon from "./CardPokemon.astro";

const pokedex = await getPokemons();

// const pokedex: Pokedex = await res.json();
---

<div class="m-4 ">
  <div class="grid grid-cols-4">
    {pokedex.results.map((pokemon) => <CardPokemon name={pokemon.name} />)}
  </div>
</div>
