---
import type { Pokemon } from "../../types/Pokemon";
import type { Move } from "../../types/Move";
import { getMove } from "../../services/PokemonSerice";
import { CapitalizeWord } from "../../lib/utils";

interface Props {
  pokemon: Pokemon;
}

const { pokemon } = Astro.props;

let moveList: Move[] = [];

await Promise.all(
  pokemon.moves.map(async (move) => {
    let newMove: Move = await getMove(move.move.url);
    moveList.push(newMove);
  })
);
---

<div class="flex justify-center font-semibold text-2xl">Movement List</div>
<div class="flex flex-col m-10 border-2 border-gray-800 rounded-lg">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table
          class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
        >
          <thead>
            <tr>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                >Name</th
              >
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                >Type</th
              >
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                >Power</th
              >
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                >Accuracy</th
              >
              <th
                scope="col"
                class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                >Status</th
              >
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
            {
              pokemon.moves.map((move, index) => (
                <tr class="hover:bg-gray-100">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                    <a href="/#">{CapitalizeWord(move.move.name)}</a>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                    <span
                      class:list={[
                        "py-1 px-5 rounded mx-3 shadow-lg",
                        {
                          "bg-[#A8A878]":
                            moveList[index].type.name === "normal",
                        },
                        {
                          "bg-[#F08030]": moveList[index].type.name === "fire",
                        },
                        {
                          "bg-[#6890F0]": moveList[index].type.name === "water",
                        },
                        {
                          "bg-[#F8D030]":
                            moveList[index].type.name === "electric",
                        },
                        {
                          "bg-[#78C850]": moveList[index].type.name === "grass",
                        },
                        {
                          "bg-[#98D8D8]": moveList[index].type.name === "ice",
                        },
                        {
                          "bg-[#C03028]":
                            moveList[index].type.name === "fighting",
                        },
                        {
                          "bg-[#A040A0] text-white":
                            moveList[index].type.name === "poison",
                        },
                        {
                          "bg-[#E0C068]":
                            moveList[index].type.name === "ground",
                        },
                        {
                          "bg-[#A890F0]":
                            moveList[index].type.name === "flying",
                        },
                        {
                          "bg-[#F85888]":
                            moveList[index].type.name === "psychic",
                        },
                        {
                          "bg-[#A8B820]": moveList[index].type.name === "bug",
                        },
                        {
                          "bg-[#B8A038]": moveList[index].type.name === "rock",
                        },
                        {
                          "bg-[#705898] text-white":
                            moveList[index].type.name === "ghost",
                        },
                        {
                          "bg-[#7038F8] text-white":
                            moveList[index].type.name === "dragon",
                        },
                        {
                          "bg-[#705848] text-white":
                            moveList[index].type.name === "dark",
                        },
                        {
                          "bg-[#B8B8D0]": moveList[index].type.name === "steel",
                        },
                        {
                          "bg-[#EE99AC]": moveList[index].type.name === "fairy",
                        },
                      ]}
                    >
                      {CapitalizeWord(moveList[index].type.name)}
                    </span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                    {moveList[index].power}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                    {moveList[index].accuracy}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                    <img
                      src={
                        moveList[index].damage_class.name === "physical"
                          ? "https://images.wikidexcdn.net/mwuploads/wikidex/3/31/latest/20140504181227/Clase_f%C3%ADsico.gif"
                          : moveList[index].damage_class.name === "special"
                            ? "https://images.wikidexcdn.net/mwuploads/wikidex/6/61/latest/20140504180925/Clase_especial.gif"
                            : "https://images.wikidexcdn.net/mwuploads/wikidex/0/06/latest/20141020094029/Clase_estado.gif"
                      }
                    />
                  </td>
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
