---
import RowMove from "../components/move/RowMove.astro";
import Layout from "../layouts/Layout.astro";
import { CapitalizeWord } from "../lib/utils";
import { getMoves } from "../services/PokemonSerice";

const moves = await getMoves();
---

<Layout title="Movement List">
  <div class="flex justify-center font-semibold text-2xl">Movement List</div>
  <div class="flex flex-col m-10 border-2 border-gray-800 rounded-lg">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table
            class="min-w-full divide-y divide-gray-200 dark:divide-neutral-700"
          >
            <thead>
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >Name</th
                >
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >Type</th
                >
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >Power</th
                >
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >Accuracy</th
                >
                <th
                  scope="col"
                  class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-500"
                  >Status</th
                >
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-neutral-700">
              {
                moves.results.map((move) => (
                  <RowMove name={move.name} />
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</Layout>
